﻿@model LiquorProject.Models.TransferRecord

<h4>TransferRecord</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.error != null && ViewBag.error != "")
        {
            <div class="alert alert-warning custalert">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" style="position: relative; margin-top: -3px;">
                    <i class="nc-icon nc-simple-remove"></i>
                </button>
                <span>
                    <b> Warning - </b> @ViewBag.error
                </span>
            </div>
        }
        <form asp-action="@ViewData["Title"]" class="row">
            @Html.HiddenFor(m => m.CreatedBy)
            @Html.HiddenFor(m => m.CreatedOn)
            <script>
                var allMainStoreLiquors = [];
                var transferLiquors = [];
                var tempUnits = [];
            </script>
            @{
                List<Unit> allUnits = ViewBag.units;
                List<MainStoreLiquor> allMainStoreLiquors = ViewBag.liquors;
                if (allMainStoreLiquors != null & allMainStoreLiquors.Count() > 0)
                {
                    foreach (var med in allMainStoreLiquors)
                    {
                        bool skip = false;
                        if (Model != null)
                        {
                            if (Model.TransferLiquors != null && Model.TransferLiquors.Count() > 0) 
                            {
                                if (Model.TransferLiquors.Any(x => x.LiquorID == med.LiquorID))
                                {
                                    skip = true;
                                }
                            }
                        }
                        if (!skip)
                        {
                            @foreach (var unit in med.Liquor.PackingUnits.OrderBy(x => x.UnitOrder))
                            {
                                var unitid = unit.UnitID;
                                var unitname = "";
                                if (allUnits != null && allUnits.Count() > 0)
                                {
                                    unitname = allUnits.Where(x => x.ID == unitid).First().Description;
                                }
                                <script>
                                tempUnits.push({
                                    id: '@unitid',
                                    name: '@unitname',
                                    qtyInParent: '@unit.QuantityInParent',
                                    unitOrder: @unit.UnitOrder
                                });
                                </script>
                            }
                            <script>
                            allMainStoreLiquors.push({
                                mainStoreID: '@med.MainStoreID',
                                medicineID: '@med.LiquorID',
                                medicineCode: '@med.Liquor.Code',
                                medicineName: '@med.Liquor.Name',
                                totalQty: @med.Quantity,
                                qty: null,
                                units: tempUnits,
                                unitID: null,
                                unitName: null,
                                qtyInSmallestUnit: null
                            });
                            tempUnits = [];
                            </script>
                        }
                    }
                }
                if (Model != null)
                {
                    if (Model.TransferLiquors != null && Model.TransferLiquors.Count() > 0) 
                    {
                        foreach (var med in Model.TransferLiquors.ToList<TransferLiquor>())
                        {
                            var medicine = allMainStoreLiquors.SingleOrDefault(x => x.LiquorID == med.LiquorID);
                            @foreach (var unit in medicine.Liquor.PackingUnits.OrderBy(x => x.UnitOrder))
                            {
                                var unitid = unit.UnitID;
                                var unitname = "";
                                if (allUnits != null && allUnits.Count() > 0)
                                {
                                    unitname = allUnits.Where(x => x.ID == unitid).First().Description;
                                }
                                <script>
                                tempUnits.push({
                                    id: '@unitid',
                                    name: '@unitname',
                                    qtyInParent: '@unit.QuantityInParent',
                                    unitOrder: @unit.UnitOrder
                                });
                                </script>
                            }
                            <script>
                            transferLiquors.push({
                                mainStoreID: '@Model.MainStoreID',
                                medicineID: '@medicine.LiquorID',
                                medicineCode: '@medicine.Liquor.Code',
                                medicineName: '@medicine.Liquor.Name',
                                totalQty: @medicine.Quantity,
                                qty: @med.Quantity,
                                units: tempUnits,
                                unitID: '@med.UnitID',
                                unitName: '@med.UnitName',
                                qtyInSmallestUnit: @med.QuantityInSmallestUnit
                            });
                            </script>
                        }
                    }
                }
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-4 d-none">
                <label asp-for="MainStoreID" class="control-label"></label>
                <select asp-for="MainStoreID" class="form-control" asp-items="ViewBag.MainStoreID"></select>
            </div>
            <div class="form-group col-md-4 d-none">
                <label asp-for="OutletID" class="control-label"></label>
                <select asp-for="OutletID" class="form-control" asp-items="ViewBag.OutletID"></select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="TransferDate" class="control-label"></label>
                @{
                    var transferDate = Model != null ? Model.TransferDate.Date.ToString("yyyy-MM-dd") : DateTime.UtcNow.AddHours(6).AddMinutes(30).ToString("yyyy-MM-dd");
                }
                <input asp-for="TransferDate" value="@transferDate" type="date" readonly class="form-control" />
                <span asp-validation-for="TransferDate" class="text-danger"></span>
            </div>
            <span asp-validation-for="TransferLiquors" class="text-danger form-group col-md-12"></span>
            <div id="root" class="form-group col-md-12"></div>
            <div class="form-group col-md-12">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/react/react.min.js"></script>
<script src="~/js/react/react-dom.min.js"></script>
<script src="~/js/react/babel.min.js"></script>
<script src="~/js/react/transfer-medicine.js" type="text/babel">

</script>
