﻿@model PagedList.Core.IPagedList<LiquorProject.Models.TransferRecord>
@using Microsoft.AspNetCore.Identity
@using PagedList.Core.Mvc
@{
    ViewData["Title"] = "Index";
    var i = 0 + (Model.PageNumber - 1) * Model.PageSize;
    var Page = "TransferRecord";
}

<div class="row">
    <div class="col-sm-4">
        <h2>Transfer Record</h2>
        <p>
            <a asp-action="Create" class="btn">Create New</a>
        </p>
    </div>
    <div class="col-sm-8">
        <div class="row search-row w-75">
            @*<div class="form-group col-md-8">
            <input type="text" id="searchcontext" placeholder="code/name" class="form-control" value="@context" />
            <span class="clear" id="clear" onclick="$(searchcontext).val(''); location.href='/@page/index?context='"><i class="nc-icon nc-simple-remove pull-right"></i></span>
        </div>
        <div class="form-group col-md-2">
            <button id="search" class="btn" onclick="location.href='/@page/index?context='+ $(searchcontext).val();">search</button>
        </div>*@
            <div class="col-md-9">

            </div>
            <div class="form-group col-md-2">
                <a class="btn" href="/TransferRecord/ExportTransferRecord"><i class="nc-icon nc-cloud-download-93"></i></a>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            <th>
                @Html.DisplayNameFor(model => model.First().TransferDate)
            </th>
            <th>
                Liquors
            </th>
            <th>
                Item Count
            </th>
            <th>
                Total Qty
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        i += 1;
                        var no = i + ".";
                    }@no
                </td>
                <td>
                    @item.TransferDate.Date.ToString("dd-MMM-yyyy")
                </td>
                <td>
                    @{
                        var medicines = "";
                        var medCount = 0;
                        foreach (var medicine in item.TransferLiquors)
                        {
                            medicines += medicine.Liquor != null ? (medCount == 0 ? medicine.Liquor.Name : ", " + medicine.Liquor.Name) : "";

                            if (medicine.Liquor != null)
                            {
                                medCount++;
                            }
                        }
                        @medicines

                    }
                </td>
                <td>
                    @item.TransferLiquors.Count
                </td>
                <td>
                    @item.TransferLiquors.Sum(x => x.Quantity)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.ID" class="btn" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit"></i></a>*@
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn" data-toggle="tooltip" data-placement="bottom" title="Detail"><i class="fa fa-eye"></i></a>
                    @inject SignInManager<ApplicationUser> SignInManager
                    @inject UserManager<ApplicationUser> UserManager
                    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Superadmin") || User.IsInRole("Admin")))
                    {
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash-o"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-sm-12">
        <span class="text-muted">Showing @(Model.Count) of @Model.TotalItemCount Rows</span>
        <pager class="pager-container" list="@Model" options="@PagedListRenderOptions.TwitterBootstrapPager4" asp-action="Index" asp-controller="@Page" style="float: right" />
    </div>
</div>