﻿@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Liquor House</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <!--     css     -->

    <link href="~/css/googleapis-fonts.css" rel="stylesheet" />

    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <!-- CSS Files -->

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/css/light-bootstrap-dashboard.css?v=2.0.1" rel="stylesheet" />

    @*<link type="text/css" href="./css/argon.css" rel="stylesheet">*@

    <!-- CSS Just for demo purpose, don't include it in your project -->

    <link href="~/css/demo.css" rel="stylesheet" />

    <link href="~/css/card.css" rel="stylesheet" />

    <link href="~/css/Select2.css" rel="stylesheet" />

    <!--   Core JS Files   -->

    <script src="~/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>

    <script src="~/js/core/popper.min.js" type="text/javascript"></script>

    <script src="~/js/core/bootstrap.min.js" type="text/javascript"></script>

    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->

    <script src="~/js/plugins/bootstrap-switch.js"></script>

    <!--  Notifications Plugin    -->

    <script src="~/js/plugins/bootstrap-notify.js"></script>


    <!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->

    <script src="~/js/light-bootstrap-dashboard.js?v=2.0.1" type="text/javascript"></script>


    <!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->

    <script src="~/js/demo.js"></script>
    <script src="~/js/react/Select2.js"></script>
    <script>
        $(document).ready(function () {
            $('form').submit(function () {
                $('input[type="submit"]').prop('disabled', true);
            });

            $('select').each(function () {
                if (!$(this).hasClass('packingunit')) {
                    $(this).select2();
                }
            });

            //$('select').select2();
        });
    </script>
</head>
<body>
    @inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager
    <div class="wrapper">
        <div class="sidebar" data-image="/img/sidebar-5.jpg">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a asp-action="Index" asp-controller="Home" class="simple-text" style="text-transform: none;">
                        LiquorHouse
                    </a>
                </div>
                <ul class="nav accordion" id="accordion">
                    @{ var role = ""; }
                    @*@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Superadmin")))
        {*@

                    @*}
        else if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin")))
        {
            role = "Admin";
            @Html.Partial("Sidebars/_AdminSidebarView")
        }
        else if (SignInManager.IsSignedIn(User) && (User.IsInRole("Pharmacy")))
        {
            role = "Pharmacy";
            @Html.Partial("Sidebars/_PharmacySidebarView")
        }
        else if (SignInManager.IsSignedIn(User) && (User.IsInRole("Cashier")))
        {
            role = "Cashier";
            @Html.Partial("Sidebars/_CashierSidebarView")
        }
        else if (SignInManager.IsSignedIn(User) && (User.IsInRole("Reception")))
        {
            role = "Reception";
            @Html.Partial("Sidebars/_ReceptionSidebarView")
        }
        else if (SignInManager.IsSignedIn(User) && (User.IsInRole("MainStore")))
        {
            role = "MainStore";
            @Html.Partial("Sidebars/_MainStoreSidebarView")
        }
        else if (SignInManager.IsSignedIn(User) && (User.IsInRole("Accounting")))
        {
            role = "Accounting";
            @Html.Partial("Sidebars/_AccountingSidebarView")
        }*@
                    @if (SignInManager.IsSignedIn(User))
                    {
                        role = "Admin";
                        @Html.Partial("Sidebars/_SuperadminSidebarView")
                        @*<li>
                            <a class="nav-link" asp-action="ChangePassword" asp-controller="Manage">
                                <i class="nc-icon nc-key-25"></i>
                                <p>Password</p>
                            </a>
                        </li>*@
                    }
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#pablo"> @role </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        @*<ul class="nav navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="dropdown">
                                        <i class="nc-icon nc-palette"></i>
                                        <span class="d-lg-none">Dashboard</span>
                                    </a>
                                </li>
                                <li class="dropdown nav-item">
                                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                        <i class="nc-icon nc-planet"></i>
                                        <span class="notification">5</span>
                                        <span class="d-lg-none">Notification</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Notification 1</a>
                                        <a class="dropdown-item" href="#">Notification 2</a>
                                        <a class="dropdown-item" href="#">Notification 3</a>
                                        <a class="dropdown-item" href="#">Notification 4</a>
                                        <a class="dropdown-item" href="#">Another notification</a>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nc-icon nc-zoom-split"></i>
                                        <span class="d-lg-block">&nbsp;Search</span>
                                    </a>
                                </li>
                            </ul>*@
                        <ul class="navbar-nav ml-auto">
                            @*<li class="nav-item">
            <a class="nav-link" href="#pablo">
                <span class="no-icon">Account</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="no-icon">Dropdown</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>*@
                            @if (SignInManager.IsSignedIn(User))
                            {
                                @*<li class="nav-item">
                Hello @UserManager.GetUserName(User)
            </li>
            <li class="nav-item">
                <form asp-area="Identity" asp-page="Account" asp-page-handler="Logout" method="post" id="logoutForm" class="navbar-right">
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
                </form>
            </li>*@
                                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })"
                                      method="post"
                                      id="logoutForm" class="navbar-right">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                                Hello @UserManager.GetUserName(User)!
                                            </a>
                                        </li>
                                        <li>
                                            <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
                                        </li>
                                    </ul>
                                </form>
                            }
                            else
                            {
                                @*<li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>*@
                                <li class="nav-item"><a class="nav-link" href="/Identity/Account/Login">Log in</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid" id="renderbody">
                    @RenderBody()
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <nav>
                        @*<ul class="footer-menu">
                                <li>
                                    <a href="#">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Company
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Portfolio
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Blog
                                    </a>
                                </li>
                            </ul>*@
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            Developed By <a href="http://trifinitymyanmar.com/">Trifinity</a>, Designed By <a href="http://www.creative-tim.com">Creative Tim</a>
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
    <!--   -->
    <!-- <div class="fixed-plugin">
        <div class="dropdown show-dropdown">
            <a href="#" data-toggle="dropdown">
                <i class="fa fa-cog fa-2x"> </i>
            </a>

            <ul class="dropdown-menu">
                <li class="header-title"> Sidebar Style</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger">
                        <p>Background Image</p>
                        <label class="switch">
                            <input type="checkbox" data-toggle="switch" checked="" data-on-color="primary" data-off-color="primary"><span class="toggle"></span>
                        </label>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger background-color">
                        <p>Filters</p>
                        <div class="pull-right">
                            <span class="badge filter badge-black" data-color="black"></span>
                            <span class="badge filter badge-azure" data-color="azure"></span>
                            <span class="badge filter badge-green" data-color="green"></span>
                            <span class="badge filter badge-orange" data-color="orange"></span>
                            <span class="badge filter badge-red" data-color="red"></span>
                            <span class="badge filter badge-purple active" data-color="purple"></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="header-title">Sidebar Images</li>

                <li class="active">
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="/img/sidebar-1.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="/img/sidebar-3.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="..//assets/img/sidebar-4.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="/img/sidebar-5.jpg" alt="" />
                    </a>
                </li>

                <li class="button-container">
                    <div class="">
                        <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard" target="_blank" class="btn btn-info btn-block btn-fill">Download, it's free!</a>
                    </div>
                </li>

                <li class="header-title pro-title text-center">Want more components?</li>

                <li class="button-container">
                    <div class="">
                        <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro" target="_blank" class="btn btn-warning btn-block btn-fill">Get The PRO Version!</a>
                    </div>
                </li>

                <li class="header-title" id="sharrreTitle">Thank you for sharing!</li>

                <li class="button-container">
                    <button id="twitter" class="btn btn-social btn-outline btn-twitter btn-round sharrre"><i class="fa fa-twitter"></i> · 256</button>
                    <button id="facebook" class="btn btn-social btn-outline btn-facebook btn-round sharrre"><i class="fa fa-facebook-square"></i> · 426</button>
                </li>
            </ul>
        </div>
    </div>
     -->
</body>
</html>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>