﻿@model PagedList.Core.IPagedList<LiquorProject.Models.Order>
@using PagedList.Core.Mvc
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
    var i = 0 + (Model.PageNumber - 1) * Model.PageSize;
    var context = Context.Request.Query["context"];
    var param = new Dictionary<string, string> { { "context", context.ToString() } };
    var Page = "Order";
}

<div class="row">
    <div class="col-sm-3">
        <h2>@ViewData["PageTitle"]</h2>
        <p>
            @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Superadmin") || User.IsInRole("Admin") || User.IsInRole("Pharmacy") || User.IsInRole("Cashier")))
            {
                if (ViewBag.IsOT != null)
                {
                    if (Convert.ToBoolean(ViewBag.IsOT) && !User.IsInRole("Pharmacy"))
                    {
                        <a asp-action="Create" asp-controller="Orders" asp-route-isot="@ViewBag.IsOT" class="btn">Create New</a>
                    }
                }
                else
                {
                    <a asp-action="Create" asp-controller="Orders" class="btn">Create New</a>
                }
            }
            <a onclick="quickReload()" class="btn">Refresh</a>
        </p>
    </div>
    <div class="col-sm-3">
        @if (ViewBag.income != null && SignInManager.IsSignedIn(User) && (User.IsInRole("Superadmin") || User.IsInRole("Admin") || User.IsInRole("Cashier")))
        {
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="nc-icon nc-money-coins"></i>
                            </div>
                            <p class="card-category">Daily Income</p>
                            <h3 class="card-title">@ViewBag.income</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        }
    </div>
    <div class="col-sm-6">
        <div class="row search-row w-75">
            <div class="form-group col-md-8">
                <input type="text" id="SearchContext" placeholder="Voucher No/Liquor Name" class="form-control" value="@context" />
                <span class="clear" id="Clear" onclick="$(SearchContext).val(''); location.href='/@Page/Index?context='"><i class="nc-icon nc-simple-remove pull-right"></i></span>
            </div>
            <div class="form-group col-md-2">
                <button id="Search" class="btn" onclick="location.href='/@Page/Index?context='+ $(SearchContext).val();">Search</button>
            </div>
        </div>
    </div>
</div>

<table class="table" id="receipt">
    <thead>
        <tr>
            <th>No.</th>
            <th>
                @Html.DisplayNameFor(model => model.First().VoucherNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().OrderDate)
            </th>
            <th>
                Quantity
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Balance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        i += 1;
                        var no = i + ".";
                    }@no
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoucherNo)
                </td>
                <td>
                    @item.OrderDate.Date.ToString("dd-MMM-yyyy")
                </td>
                <td>
                    @item.OrderOutletLiquors.Count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User) && (!User.IsInRole("Pharmacy")))
                    {
                        @*<a onclick="Receipt('@item.ID', '@((int)OrderType.OPD)')" class="btn" data-toggle="tooltip" data-placement="bottom" title="Receipt"><i class="fa fa-file-text-o"></i></a>*@
                    }
                    <a asp-action="Detail" asp-route-id="@item.ID" asp-controller="Order" class="btn" data-toggle="tooltip" data-placement="bottom" title="Detail"><i class="fa fa-eye"></i></a>
                    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Cashier") || (User.IsInRole("Pharmacy") && Convert.ToBoolean(ViewBag.IsOT))) && !item.IsPaid)
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID" asp-controller="Order" class="btn" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit"></i></a>
                    }
                    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Superadmin") || User.IsInRole("Admin")))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID" asp-controller="Orders" class="btn" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.ID" asp-controller="Orders" class="btn" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash-o"></i></a>
                    }
                    else if (SignInManager.IsSignedIn(User) && (User.IsInRole("Cashier")) && !item.IsPaid)
                    {
                        <a asp-action="Paid" asp-route-id="@item.ID" asp-controller="Orders" class="btn" data-toggle="tooltip" data-placement="bottom" title="Paid"><i class="fa fa-check"></i> Paid</a>
                    }
                    @*else if (SignInManager.IsSignedIn(User) && (User.IsInRole("Pharmacy")) && item.IsPaid)
                        {
                            <a asp-action="UnPaid" asp-route-id="@item.ID" asp-controller="Orders" class="btn" data-toggle="tooltip" data-placement="bottom" title="UnPaid"><i class="fa fa-remove"></i> UnPaid</a>
                        }*@
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-sm-12">
        <span class="text-muted">Showing @(Model.Count) of @Model.TotalItemCount Rows</span>
        <pager class="pager-container" list="@Model" options="@PagedListRenderOptions.TwitterBootstrapPager4" asp-action="Index" asp-controller="@Page" asp-all-route-data="param" style="float: right" />
    </div>
</div>

<script src="~/js/core/jspdf.min.js"></script>
<script src="~/js/core/jspdf.plugin.autotable.js"></script>
<script src="~/js/core/receipt.js"></script>

<script>
    $(document).ready(function () {
        //reload();
    });

    function reload() {
        setInterval(function () {
            window.location = '@Url.Action("Index")';
        }, 10000); /* time in milliseconds (ie 2 seconds)*/
    }

    function quickReload() {
        window.location = '@Url.Action("Index")';
        }

    $(document).ready(function () {
        $(SearchContext).keypress(function (e) {
            if (e.keyCode == 13) {
                window.location.href = "/Order/Index?context=" + $(SearchContext).val();
            }
            
        });
    });
</script>