﻿@model LiquorProject.Models.Order
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var isModelNull = Model != null ? false : true;
    //var doctorid = Model?.DoctorID;
    //var isIPD = ViewBag.IsIPD != null ? ViewBag.IsIPD : (Model != null ? (Model.Type == OrderType.IPD ? true : false) : false);
    //var iPDVoucher = ViewBag.IPDVoucher;
    //var notFromDB = ViewBag.notFromDB != null ? ViewBag.notFromDB : false;
    //var ipdID = Model != null ? (Model.IPD_OrderID != null ? Model.IPD_OrderID.ToString() : null) : Context.Request.Query["IID"].ToString();

    //var isOT = ViewBag.IsOT != null ? ViewBag.IsOT : (Model != null ? (Model.Type == OrderType.OT ? true : false) : false);
}
<script>
    var permitted = true;
    var permitPharmacy = true;
    var permitService = true;
    @*var isIPD = ('@isIPD'.toLowerCase() === 'true');
    var isOT = ('@isOT'.toLowerCase() === 'true');
    var iPDVoucher = '@iPDVoucher';*@
</script>
@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Superadmin")))
{
    <script>
        permitted = true;
    </script>
}
else if (SignInManager.IsSignedIn(User) && (User.IsInRole("Pharmacy")))
{
    <script>
        permitPharmacy = true;
        permitService = false;
    </script>
}
else if (SignInManager.IsSignedIn(User) && (User.IsInRole("Cashier")))
{
    <script>
        permitPharmacy = false;
        permitService = true;
    </script>
}
@*<link href="~/css/Select2.css" rel="stylesheet" />*@
<style>

    .add_delete_unit {
        padding-left: 19px;
        width: 50px;
        cursor: pointer;
    }

        .add_delete_unit i {
            color: black !important;
            font-weight: bold;
        }
</style>

@for (var width = 0; width <= 100; width++)
{
    var widthpercent = width + "%";
    <style>
        .w-@width  {
            width: @widthpercent;
        }
    </style>
}

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.error != null && ViewBag.error != "")
        {
            <div class="alert alert-warning custalert">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" style="position: relative; margin-top: -3px;">
                    <i class="nc-icon nc-simple-remove"></i>
                </button>
                <span>
                    <b> Warning - </b> @ViewBag.error
                </span>
            </div>
        }

            <form asp-action="@ViewData["Title"]" class="row">
                <script>
                    var orderid = null;
                </script>
                @if (ViewBag.action != "create")
                {
                    @Html.HiddenFor(m => m.ID)

                    <script>
                    orderid = '@Model.ID';
                    </script>
                }
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-4 d-none">
                    <label asp-for="OutletID" class="control-label"></label>
                    <select asp-for="OutletID" class="form-control" asp-items="ViewBag.OutletID"
                            @*onchange="changeVoucherNo($(this).val());" *@></select>
                    <span asp-validation-for="OutletID" class="text-danger"></span>
                </div>
                @if (ViewBag.action == "create")
                {
                    <input type="hidden" id="VoucherNo" name="VoucherNo" value="notgeneratedyet" />
                }
                else
                {
                    @Html.HiddenFor(m => m.VoucherNo)
                }
                <div class="form-group col-md-4">
                    <label asp-for="VoucherNo" class="control-label"></label>
                    <span class="form-control voucherno">@ViewData["code"]</span>
                    <span asp-validation-for="VoucherNo" class="text-danger"></span>
                </div>

                    <div class="form-group col-4">
                        <label asp-for="OrderDate" class="control-label"></label>
                        @{
                            var orderDate = Model != null ? Model.OrderDate.Date.ToString("yyyy-MM-dd") : DateTime.UtcNow.AddHours(6).AddMinutes(30).ToString("yyyy-MM-dd");
                        }
                        <input asp-for="OrderDate" class="form-control" type="date" value="@orderDate" readonly />
                        <span asp-validation-for="OrderDate" class="text-danger"></span>
                    </div>

                <script>
                    var orderOutletLiquor = [];
                    var tempUnits = [];
                    var orderid = "", total = 0, discount = 0, balance = 0, discountFeeType = 1;
                </script>
                @{
                    if (Model != null)
                    {
                        List<Unit> allUnits = ViewBag.units;
                        List<PackingUnit> packingunits = ViewBag.packunits;
                        List<Liquor> liquors = ViewBag.liquors;
                        <script>
                        total = @Model.Total;
                        discount = @Model.Discount;
                        balance = @Model.Balance;
                        orderid = '@Model.ID';
                        </script>
                        if (Model.OrderOutletLiquors != null)
                        {
                            foreach (var med in Model.OrderOutletLiquors.OrderBy(x => x.SortOrder))
                            {
                                var liquor = liquors.Where(x => x.ID == med.LiquorID).SingleOrDefault();
                                var punits = packingunits.Where(x => x.LiquorID == med.LiquorID);
                                @foreach (var unit in punits.OrderBy(x => x.UnitOrder))
                                {
                                    var unitid = unit.UnitID;
                                    var unitname = "";
                                    var selected = unit.ID == med.UnitID ? "selected" : "";
                                    if (allUnits != null && allUnits.Count() > 0)
                                    {
                                        unitname = allUnits.Where(x => x.ID == unitid).First().Description;
                                    }
                                    <script>
                                    tempUnits.push({
                                        id: '@unitid',
                                        name: '@unitname',
                                        unitOrder: '@unit.UnitOrder',
                                        qtyInParent: '@unit.QuantityInParent',
                                        saleamount: '@unit.SaleAmount',
                                        selected: '@selected'
                                    });
                                    </script>
                                }
                                <script>
                                orderOutletLiquor.push({
                                    liquorID: '@med.LiquorID',
                                    liquorCode: '@liquor.Code',
                                    liquorName: '@liquor.Name',
                                    packingUnitID: '@med.UnitID',
                                    unitPrice: @Convert.ToInt32(med.UnitPrice),
                                    totalQty: 0,
                                    qty: @med.Quantity,
                                    amount: @med.Amount,
                                    sortorder: @med.SortOrder,
                                    qtyInSmallestUnit: @med.QuantityInSmallestUnit,
                                    units: tempUnits,
                                    barcode : '@liquor.Barcode'
                                });
                                tempUnits = [];
                                </script>
                            }
                        }

                    }
                }

                <div class="form-group col-12" id="root">
                </div>
                <div class="form-group col-8">
                    <label asp-for="Remark" class="control-label"></label>
                    <textarea asp-for="Remark" class="form-control"></textarea>
                    <span asp-validation-for="Remark" class="text-danger"></span>
                </div>
                @*<div class="form-group col-md-2">
            <label></label>
            <div class="checkbox form-control">
                <label>
                    <input asp-for="IsPaid" /> @Html.DisplayNameFor(model => model.IsPaid)
                </label>
            </div>
        </div>*@
                <div class="form-group col-12">
                    <input type="submit" value="Save" class="btn btn-default" />
                    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Cashier")) && Model != null && ViewData["Title"].ToString() != "Details") 
                    {
                        if (!Model.IsPaid)
                        {
                            <button name="IsPaid" value="true" type="submit" class="btn btn-default">Save and Paid</button>
                        }
                    }
                </div>
            </form>
    </div>
</div>

<div>

</div>

<script>
    $(document).ready(function () {
        var page = '@ViewData["Title"]';
        if (page.toLowerCase() == "create") {
            changeVoucherNo($(OutletID).val(), true);
        }

        //$(PatientID).change(function () {
        //    var id = $(this).val();
        //    if (id != null && id != "") {
        //        $('.patientname').html($(this).find(':selected').data('name'));
        //        $('.patientfathername').html($(this).find(':selected').data('fathername'));
        //        $('.patientage').html($(this).find(':selected').data('age'));

        //        if (!isIPD && !isOT) {
        //            $(DoctorID).val($(this).find(':selected').data('doctorid'));
        //            if ($(DoctorID).val() == null) {
        //                $(DoctorID).val("");
        //            }
        //        }
        //    } else {
        //        $('.patientname').html("");
        //        $('.patientfathername').html("");
        //        $('.patientage').html("");
        //        if (!isIPD && !isOT) {
        //            $(DoctorID).val("");
        //        }
        //    }
        //    if (!isIPD && !isOT) {
        //        $(DoctorID).trigger('change');
        //    }
        //});

        @*if ('@isModelNull'.toLowerCase() == 'true') {
            $(PatientID).trigger('change');
        } else {
            $(PatientID).trigger('change');
            if (!isIPD && !isOT) {
                $(DoctorID).val('@doctorid');
            }
            var id = $(PatientID).val();
            if (id != null && id != "") {
                $('.patientname').html($(this).find(':selected').data('name'));
                $('.patientfathername').html($(this).find(':selected').data('fathername'));
                $('.patientage').html($(this).find(':selected').data('age'));
            } else {
                $('.patientname').html("");
                $('.patientfathername').html("");
                $('.patientage').html();
            }
        }*@
    });

    function changeVoucherNo(outletid, isOT) {
        $.get('/Order/GetVoucherNoByOutlet?id=' + outletid + '&isOT=' + isOT, function (voucherno) {
            $('.voucherno').html(voucherno);
        });
    }
</script>
<script src="~/js/react/react.min.js"></script>
<script src="~/js/react/react-dom.min.js"></script>
<script src="~/js/react/babel.min.js"></script>
@*<script src="~/js/react/Select2.js"></script>*@
<script src="~/js/react/order.js" type="text/babel">
</script>
<script>
    $(document).ready(function () {
        //$(PatientID).select2();
        //if (!isIPD && !isOT) {
        //    //$(DoctorID).select2();
        //}

        //if (!isIPD && !isOT) {
        //    $(DoctorID).change(function () {
        //        var id = $(this).val();
        //        setDoctorFee(id);
        //    });

        //    setTimeout(function () {
        //        $(DoctorID).trigger('change');
        //    }, 1000);
        //}

        //if (notFromDB.toLowerCase() == 'true') {
        //    setTimeout(function () {
        //        window.orderComponent.setState({ order_IPD_services: orderIPD });
        //    }, 2000);
        //}

        //setTimeout(function () {
            window.orderComponent.setState({ orderLiquors: orderOutletLiquor });
            console.log(window.orderComponent.state);
            $('select.liquor').each(function (i, j) {
                if (!$(this).hasClass('select2-hidden-accessible')) {
                    $(this).select2();
                    $(this).on('select2:select', function (e) {
                        window.orderComponent.changeLiquor(e);
                    });
                }
            });
            //window.orderComponent.calculateTotal();
        //}, 2000);
    });

    //function setDoctorFee(id) {
    //    id = id != null && id != "" && id != undefined ? id : null;
    //    var doctorfee = null;
    //    if (id != null) {
    //        $.get('/Orders/GetDoctorFee/' + id, function (data) {
    //            window.orderComponent.setState({ doctorfee: parseInt(data) });
    //        });
    //    } else {
    //        window.orderComponent.setState({ doctorfee: null });
    //    }
    //}
</script>
