﻿@model PagedList.Core.IPagedList<LiquorProject.Models.OutletLiquor>
@using PagedList.Core.Mvc
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
    var i = 0 + (Model.PageNumber - 1) * Model.PageSize;
    var context = Context.Request.Query["context"];
    var param = new Dictionary<string, string> { { "context", context.ToString() } };
    var Page = "OutletLiquor";
}

<div class="row">
    <div class="col-sm-4">
        <h2>Outlet's Liquors List</h2>
    </div>
    <div class="col-sm-8">
        <div class="row search-row-sec w-75">
            <div class="form-group col-md-7">
                <input type="text" id="SearchContext" placeholder="Code/Name" class="form-control" value="@context" />
                <span class="clear" id="Clear" onclick="$(SearchContext).val(''); location.href='/@Page/Index?context='"><i class="nc-icon nc-simple-remove pull-right"></i></span>
            </div>
            <div class="form-group col-md-2">
                <button id="Search" class="btn" onclick="location.href='/@Page/Index?context='+ $(SearchContext).val();">Search</button>
            </div>
            <div class="form-group col-md-2">
                <a class="btn" href="OutletLiquor/ExportOutletStock"><i class="nc-icon nc-cloud-download-93"></i></a>
            </div>
            @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Superadmin")))
            {
                <div class="form-group col-md-1">
                    <button class="btn" onclick="location.href='/Reports/OutletStockListExcel'"><i class="nc-icon nc-cloud-download-93"></i></button>
                </div>
            }
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Outlet)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.First().Liquor.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Liquor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        i += 1;
                        var no = i + ".";
                    }@no
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Outlet.Name)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Liquor.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Liquor.Name)
                </td>
                <td>
                    @{
                        var qty = Common.ChangeQtySetToString(Common.ChangeMinQtyToQtySet(item.Liquor, item.Quantity));
                    }
                    @qty
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-sm-12">
        <span class="text-muted">Showing @(Model.Count) of @Model.TotalItemCount Rows</span>
        <pager class="pager-container" list="@Model" options="@PagedListRenderOptions.TwitterBootstrapPager4" asp-action="Index" asp-controller="@Page" asp-all-route-data="param" style="float: right" />
    </div>
</div>

<script>
    $(document).ready(function () {
        $(SearchContext).keypress(function (e) {
            if (e.keyCode == 13) {
                window.location.href = "/OutletLiquor/Index?context=" + $(SearchContext).val();
            }
            
        });
    });
</script>