﻿
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

@Html.Partial("_PartialView")

<script>
    $(document).ready(function () {
        var now = new Date();
        var datefordeliver = new Date();
        datefordeliver.setDate(now.getDate());
        var month = (datefordeliver.getMonth() + 1);
        var day = datefordeliver.getDate();
        if (month < 10)
            month = "0" + month;
        if (day < 10)
            day = "0" + day;
        var today = datefordeliver.getFullYear() + '-' + month + '-' + day;
        $("#expenseDate").val(today);
    });
</script>