﻿<li class="nav-item">
    <a class="nav-link" asp-action="Dashboard" asp-controller="Home">
        <i class="nc-icon nc-chart-pie-36"></i>
        <p>Dashboard</p>
    </a>
</li>
<li>
    <a class="nav-link" asp-action="Index" asp-controller="LabResults">
        <i class="nc-icon nc-notes"></i>
        <p>Lab Result</p>
    </a>
</li>
<li>
    <a class="nav-link" asp-action="Index" asp-controller="Orders">
        <i class="nc-icon nc-cart-simple"></i>
        <p>OPD</p>
    </a>
</li>
<li>
    <a class="nav-link" asp-action="Index" asp-controller="IPD_Orders">
        <i class="nc-icon nc-ambulance"></i>
        <p>IPD</p>
    </a>
</li>
<li>
    <a class="nav-link" asp-action="Index" asp-controller="OTBills">
        <i class="nc-icon nc-scissors"></i>
        <p>OT Bill</p>
    </a>
</li>
