﻿<li class="nav-item">
    <a class="nav-link" asp-action="Dashboard" asp-controller="Home">
        <i class="nc-icon nc-chart-pie-36"></i>
        <p>Dashboard</p>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-action="Index" asp-controller="Patients">
        <i class="nc-icon nc-vector"></i>
        <p>Patients</p>
    </a>
</li>
<li class="has-sub">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#Employee">
        <i class="nc-icon nc-badge"></i>
        <p>Employees</p>
        <span class="fa fa-chevron-left pull-right my-2"></span>
    </a>
    <ul class="sub-menu collapse" id="Employee" data-parent="#accordion">
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Doctors">
                <i class="letter-icon">D</i>
                <p>Doctors</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Nurses">
                <i class="letter-icon">N</i>
                <p>Nurses</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="ORAs">
                <i class="letter-icon">O</i>
                <p>ORAs</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Workers">
                <i class="letter-icon">C</i>
                <p>Cleaning</p>
            </a>
        </li>
    </ul>
</li>
<li>
    <a class="nav-link" asp-action="Index" asp-controller="Medicines">
        <i class="nc-icon nc-planet"></i>
        <p>Medicines</p>
    </a>
</li>
<li class="has-sub">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#MainStore">
        <i class="nc-icon nc-bank"></i>
        <p>Main Stores</p>
        <span class="fa fa-chevron-left pull-right my-2"></span>
    </a>
    <ul class="sub-menu collapse" id="MainStore" data-parent="#accordion">
        <li>
            <a class="nav-link" asp-action="Index" asp-controller="MainStoreMedicines">
                <i class="nc-icon nc-app"></i>
                <p>Stock</p>
            </a>
        </li>
        <li>
            <a class="nav-link" asp-action="Index" asp-controller="MainStoreStockRecords">
                <i class="nc-icon nc-notes"></i>
                <p>Qty Records</p>
            </a>
        </li>
        <li>
            <a class="nav-link" asp-action="Index" asp-controller="TransferRecords">
                <i class="nc-icon nc-delivery-fast"></i>
                <p>Transfer</p>
            </a>
        </li>
    </ul>
</li>
<li class="has-sub">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#Pharmacy">
        <i class="nc-icon nc-cart-simple"></i>
        <p>Outlet</p>
        <span class="fa fa-chevron-left pull-right my-2"></span>
    </a>
    <ul class="sub-menu collapse" id="Pharmacy" data-parent="#accordion">
        <li>
            <a class="nav-link" asp-action="Index" asp-controller="Orders">
                <i class="nc-icon nc-notes"></i>
                <p>Order List</p>
            </a>
        </li>
        <li>
            <a class="nav-link" asp-action="Create" asp-controller="Orders">
                <i class="nc-icon nc-paper-2"></i>
                <p>New Order</p>
            </a>
        </li>
        <li>
            <a class="nav-link" asp-action="Index" asp-controller="OutletMedicines">
                <i class="nc-icon nc-app"></i>
                <p>Stock</p>
            </a>
        </li>
    </ul>
</li>
@*<li class="has-sub">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#IPD">
        <i class="nc-icon nc-ambulance"></i>
        <p>IPD</p>
        <span class="fa fa-chevron-left pull-right my-2"></span>
    </a>
    <ul class="sub-menu collapse" id="IPD" data-parent="#accordion">
        <li>
            <a class="nav-link" asp-action="Index" asp-controller="IPD_Orders">
                <i class="nc-icon nc-notes"></i>
                <p>IPD List</p>
            </a>
        </li>
        <li>
            <a class="nav-link" asp-action="Create" asp-controller="IPD_Orders">
                <i class="nc-icon nc-paper-2"></i>
                <p>New IPD Order</p>
            </a>
        </li>
    </ul>
</li>
<li class="has-sub">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#OTBills">
        <i class="nc-icon nc-scissors"></i>
        <p>OT Bills</p>
        <span class="fa fa-chevron-left pull-right my-2"></span>
    </a>
    <ul class="sub-menu collapse" id="OTBills" data-parent="#accordion">
        <li>
            <a class="nav-link" asp-action="Index" asp-controller="OTBills">
                <i class="nc-icon nc-notes"></i>
                <p>OT Bill List</p>
            </a>
        </li>
        <li>
            <a class="nav-link" asp-action="Create" asp-controller="Orders" asp-route-isOT="true">
                <i class="nc-icon nc-paper-2"></i>
                <p>New OT Bill</p>
            </a>
        </li>
    </ul>
</li>
<li class="has-sub">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#Service">
        <i class="nc-icon nc-settings-90"></i>
        <p>Services</p>
        <span class="fa fa-chevron-left pull-right my-2"></span>
    </a>
    <ul class="sub-menu collapse" id="Service" data-parent="#accordion">
        <li>
            <a class="nav-link" asp-action="Index" asp-controller="Services">
                <i class="nc-icon nc-notes"></i>
                <p>List</p>
            </a>
        </li>
        <li>
            <a class="nav-link" asp-action="Index" asp-controller="LabPersons">
                <i class="nc-icon nc-circle-09"></i>
                <p>Lab Persons</p>
            </a>
        </li>
    </ul>
</li>
<li>
    <a class="nav-link" asp-action="Index" asp-controller="LabResults">
        <i class="nc-icon nc-tv-2"></i>
        <p>Lab Results</p>
    </a>
</li>
<li class="has-sub">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#Setting">
        <i class="nc-icon nc-settings-gear-64"></i>
        <p>Setting</p>
        <span class="fa fa-chevron-left pull-right my-2"></span>
    </a>
    <ul class="sub-menu collapse" id="Setting" data-parent="#accordion">
        <li>
            <a class="nav-link" asp-action="Index" asp-controller="MedicineTypes">
                <i class="nc-icon nc-bullet-list-67"></i>
                <p>Med Types</p>
            </a>
        </li>
        <li>
            <a class="nav-link" asp-action="Index" asp-controller="Units">
                <i class="nc-icon nc-single-copy-04"></i>
                <p>Units</p>
            </a>
        </li>
        <li>
            <a class="nav-link" asp-action="Index" asp-controller="ServiceTypes">
                <i class="nc-icon nc-bullet-list-67"></i>
                <p>Ser Types</p>
            </a>
        </li>
        <li>
            <a class="nav-link" asp-action="Index" asp-controller="OperationTypes">
                <i class="nc-icon nc-bullet-list-67"></i>
                <p>Oper Types</p>
            </a>
        </li>
        <li>
            <a class="nav-link" asp-action="SetupList" asp-controller="LabResults">
                <i class="nc-icon nc-bullet-list-67"></i>
                <p>LR Setup</p>
            </a>
        </li>
        <li>
            <a class="nav-link" asp-action="Index" asp-controller="Specialities">
                <i class="nc-icon nc-caps-small"></i>
                <p>Specialities</p>
            </a>
        </li>
        <li>
            <a class="nav-link" asp-action="Index" asp-controller="Initials">
                <i class="nc-icon nc-quote"></i>
                <p>Initials</p>
            </a>
        </li>
    </ul>
</li>*@