﻿<li>
    <a class="nav-link" asp-action="Index" asp-controller="Medicines">
        <i class="nc-icon nc-planet"></i>
        <p>Medicines</p>
    </a>
</li>
<li>
    <a class="nav-link" asp-action="Index" asp-controller="MainStoreMedicines">
        <i class="nc-icon nc-app"></i>
        <p>Stock</p>
    </a>
</li>
<li>
    <a class="nav-link" asp-action="Index" asp-controller="MainStoreStockRecords">
        <i class="nc-icon nc-notes"></i>
        <p>Qty Records</p>
    </a>
</li>
<li>
    <a class="nav-link" asp-action="Index" asp-controller="TransferRecords">
        <i class="nc-icon nc-delivery-fast"></i>
        <p>Transfer</p>
    </a>
</li>