﻿<li class="has-sub">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#Pharmacy">
        <i class="nc-icon nc-cart-simple"></i>
        <p>Pharmacy</p>
        <span class="fa fa-chevron-left pull-right my-2"></span>
    </a>
    <ul class="sub-menu collapse" id="Pharmacy" data-parent="#accordion">
        <li>
            <a class="nav-link" asp-action="Index" asp-controller="Orders">
                <i class="nc-icon nc-notes"></i>
                <p>Order List</p>
            </a>
        </li>
        <li>
            <a class="nav-link" asp-action="Create" asp-controller="Orders">
                <i class="nc-icon nc-paper-2"></i>
                <p>New Order</p>
            </a>
        </li>
        <li>
            <a class="nav-link" asp-action="Index" asp-controller="OutletMedicines">
                <i class="nc-icon nc-app"></i>
                <p>Stock</p>
            </a>
        </li>
    </ul>
</li>
<li class="has-sub">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#IPD">
        <i class="nc-icon nc-ambulance"></i>
        <p>IPD</p>
        <span class="fa fa-chevron-left pull-right my-2"></span>
    </a>
    <ul class="sub-menu collapse" id="IPD" data-parent="#accordion">
        <li>
            <a class="nav-link" asp-action="Index" asp-controller="IPD_Orders">
                <i class="nc-icon nc-notes"></i>
                <p>IPD List</p>
            </a>
        </li>
        <li>
            <a class="nav-link" asp-action="Create" asp-controller="IPD_Orders">
                <i class="nc-icon nc-paper-2"></i>
                <p>New IPD Order</p>
            </a>
        </li>
    </ul>
</li>
<li class="has-sub">
    <a class="nav-link collapsed" data-toggle="collapse" data-target="#OTBills">
        <i class="nc-icon nc-scissors"></i>
        <p>OT Bills</p>
        <span class="fa fa-chevron-left pull-right my-2"></span>
    </a>
    <ul class="sub-menu collapse" id="OTBills" data-parent="#accordion">
        <li>
            <a class="nav-link" asp-action="Index" asp-controller="OTBills">
                <i class="nc-icon nc-notes"></i>
                <p>OT Bill List</p>
            </a>
        </li>
    </ul>
</li>