﻿<li class="nav-item">
    <a class="nav-link" asp-action="Index" asp-controller="Patients">
        <i class="nc-icon nc-notes"></i>
        <p>Patient List</p>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-action="Create" asp-controller="Patients">
        <i class="nc-icon nc-single-02"></i>
        <p>New Patient</p>
    </a>
</li>