﻿@model List<LiquorProject.Models.LiquorSale>
@{
    ViewData["Title"] = "DailySale";
    var i = 0;
}

    <div class="row">
        <div class="col-sm-10">
            <h2>Daily Sale</h2>
        </div>
        <div class="col-sm-2">
            <div class="row search-row-sec w-75">
                <div class="form-group col-md-2">
                    <a class="btn" href="/Dashboard/ExportDailySale"><i class="nc-icon nc-cloud-download-93"></i></a>
                </div>
                @*<div class="form-group col-md-1">
                    <button class="btn" onclick="location.href='/Reports/MainStoreStockListExcel'"><i class="nc-icon nc-cloud-download-93"></i></button>
                </div>*@
            </div>
        </div>
    </div>


<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Count</th>
            <th>Cost</th>
            <th>CostInUnit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var liquor in Model.ToList())
        {
            i++;
            <tr>
                <td>@i</td>
                <td>@liquor.Name</td>
                <td>@liquor.Count</td>
                <td>@liquor.Cost</td>
                <td>@liquor.CostInUnit</td>
            </tr>
        }
        @*<tr>
            <td colspan="2"></td>
            <td>Total Expense</td>
            <td>-@ViewBag.TotalExpense</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td>Total Revenue</td>
            <td>@ViewBag.TotalRevenue</td>
        </tr>*@
    </tbody>
</table>

