﻿@model IEnumerable<LiquorProject.Models.Unit>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Superadmin")))
{
    <p>
        <a asp-action="Create" class="btn">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Superadmin")))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit"></i></a>
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn" data-toggle="tooltip" data-placement="bottom" title="Detail"><i class="fa fa-eye"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash-o"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
