﻿@model LiquorProject.Models.MainStoreStockRecord

<h4>MainStoreStockRecord</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="@ViewData["Title"]" class="row">
            @Html.HiddenFor(m => m.CreatedBy)
            @Html.HiddenFor(m => m.CreatedOn)
            @{
                var modelLiquorId = "";
                if (ViewData["Title"].ToString() != "Create")
                {
                    var liquorId = Model.LiquorID;
                    modelLiquorId = liquorId != null ? liquorId.ToString() : "";
                }
                <script>var _unitid = '';</script>
                if(Model != null)
                {
                    var unitID = Model.UnitID;
                    <script>_unitid = '@unitID';</script>
                }
            }
            <input type="hidden" id="liquorId" value="@modelLiquorId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-4 d-none">
                <label asp-for="MainStoreID" class="control-label"></label>
                <select asp-for="MainStoreID" class="form-control" asp-items="ViewBag.MainStoreID" required></select>
                <span asp-validation-for="MainStoreID" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="LiquorID" class="control-label"></label>
                <select asp-for="LiquorID" class="form-control" asp-items="ViewBag.LiquorID" onchange="changeUnit($(this).val())" required></select>
                <span asp-validation-for="LiquorID" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="StockDate" class="control-label"></label>
                @{
                    var stockDate = Model != null ? Model.StockDate.Date.ToString("yyyy-MM-dd") : DateTime.UtcNow.AddHours(6).AddMinutes(30).ToString("yyyy-MM-dd");
                }
                <input asp-for="StockDate" class="form-control" value="@stockDate" type="date" readonly required />
                <span asp-validation-for="StockDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="ExpiredDate" class="control-label"></label>
                <input asp-for="ExpiredDate" class="form-control" type="date" />
                <span asp-validation-for="ExpiredDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" required />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="UnitID" class="control-label"></label>
                <select asp-for="UnitID" class="form-control" required></select>
                <span asp-validation-for="UnitID" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $(document).ready(function () {
        changeUnit($(LiquorID).val());
    });

    function changeUnit(liquorID) {
        $.get('/MainStoreStockRecord/getUnitsByLiquor?id=' + liquorID, function (data) {
            var markup = "";
            for (var x = 0; x < data.length; x++) {
                var selected = "";
                if (data[x].id == _unitid) {
                    selected = "selected";
                }
                markup += "<option value=" + data[x].id + " " + selected + ">" + data[x].name + "</option>";
            }
            $("#UnitID").html(markup).show();
        });
    }
</script>

