﻿@model PagedList.Core.IPagedList<LiquorProject.Models.MainStoreStockRecord>
@using PagedList.Core.Mvc
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Index";
    var i = 0 + (Model.PageNumber - 1) * Model.PageSize;
    var context = Context.Request.Query["context"];
    var param = new Dictionary<string, string> { { "context", context.ToString() } };
    var Page = "MainStoreStockRecord";
}

<div class="row">
    <div class="col-sm-4">
        <h2>Main Store Stock Record</h2>
        <p>
            <a asp-action="Create" class="btn">Create New</a>
        </p>
    </div>
    <div class="col-sm-8">
        <div class="row search-row w-75">
            <div class="form-group col-md-8">
                <input type="text" id="SearchContext" placeholder="Code/Name" class="form-control" value="@context" />
                <span class="clear" id="Clear" onclick="$(SearchContext).val(''); location.href='/@Page/Index?context='"><i class="nc-icon nc-simple-remove pull-right"></i></span>
            </div>
            <div class="form-group col-md-2">
                <button id="Search" class="btn" onclick="location.href='/@Page/Index?context='+ $(SearchContext).val();">Search</button>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            <th>
                @Html.DisplayNameFor(model => model.First().StockDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Liquor.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Liquor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ExpiredDate)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.MainStore)
                </th>*@

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        i += 1;
                        var no = i + ".";
                    }@no
                </td>
                <td>
                    @item.StockDate.Date.ToString("dd-MMM-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Liquor.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Liquor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity) @Html.DisplayFor(modelItem => item.UnitName)<span>(s)</span>
                </td>
                <td>
                    @{
                        var expiredDate = item.ExpiredDate != null ? Convert.ToDateTime(item.ExpiredDate).Date.ToString("dd-MMM-yyyy") : "";
                    }
                    @expiredDate
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.MainStore.Name)
                    </td>*@
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.ID" class="btn" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit"></i></a>*@
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn" data-toggle="tooltip" data-placement="bottom" title="Detail"><i class="fa fa-eye"></i></a>
                    @inject SignInManager<ApplicationUser> SignInManager
                    @inject UserManager<ApplicationUser> UserManager
                    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Superadmin") || User.IsInRole("Admin")))
                    {
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash-o"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-sm-12">
        <span class="text-muted">Showing @(Model.Count) of @Model.TotalItemCount Rows</span>
        <pager class="pager-container" list="@Model" options="@PagedListRenderOptions.TwitterBootstrapPager4" asp-action="Index" asp-controller="@Page" asp-all-route-data="param" style="float: right" />
    </div>
</div>

<script>
    $(document).ready(function () {
        $(SearchContext).keypress(function (e) {
            if (e.keyCode == 13) {
                window.location.href = "/MainStoreStockRecord/Index?context=" + $(SearchContext).val();
            }
            
        });
    });
</script>