﻿td[data-name="del"] {
    display: none;
    border: none;
}

tfoot th {
    border-top: none !important;
}

#add_row {
    display: none;
}

input[type="submit"] {
    display: none;
}

input, select, .quantity, textarea, .custom-combobox, .container-fluid .form-control {
    pointer-events: none;
    border: none !important;
    padding: 0 !important;
    padding-top: 17px !important;
    margin-top: -9px;
}

.form-control[disabled] {
    background: white;
}

span.form-control {
    margin-top: 1px;
}

.custom-combobox input {
    border: none !important;
}

.custom-combobox .custom-combobox-btn {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

#AdvancePayment {
    padding-right: 13px !important;
}

.pricelabel {
    display: block !important;
}

#unitToAddID, .container-fluid .nav-link, .container-fluid .nc-icon, .hideInDetail {
    display: none;
    opacity: 0;
}

input:read-only {
    background: white !important;
}

.detailInputNumber {
    width: 120px !important;
}

tbody .number {
    padding-top: 21px !important;
}

.number {
    color: #565656 !important;
}

.add_delete_unit {
    pointer-events: none;
    opacity: 0;
}

/* Select 2 */
.select2-container--default .select2-selection--single {
    border: none !important;
    pointer-events: none;
    margin-left: -7px;
    margin-top: 5px;
}

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #888888 !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        display: none;
    }
