﻿@model LiquorProject.Models.Liquor
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<style>
    .react-input-1 {
        height: 40px !important;
    }

    .percent {
        position: relative;
        right: 30px;
        opacity: 0.5;
    }

    .percentDetail {
        position: relative;
        left: -50px;
    }

    .pricelabel {
        display: none !important;
    }
</style>

<h4>Liquor @ViewData["code"]</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="@ViewData["Title"]" class="row">
            @Html.HiddenFor(m => m.CreatedBy)
            @Html.HiddenFor(m => m.CreatedOn)
            @{
                var code = Model != null ? Model.Code : "0";
            }
            <input type="hidden" name="Code" value="@code" />

            <script>
                packingunits = [];
                var virtualpackingunits = [];
                var unitprice = 0;
                var percentage = 0;
                var action = '@ViewData["Title"]'
                var permitted = true;
            </script>
            @{
                @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Superadmin")))
                {
                    <script>
                        permitted = true;
                    </script>
                }
                List<Unit> units = ViewBag.units;
                if (units != null && units.Count() > 0)
                {
                    foreach (var unit in units)
                    {
                        <script>
                            packingunits.push({
                                ID: "@unit.ID",
                                Description: "@unit.Description",
                                UnitOrder: @unit.UnitOrder,
                                ActualOrder: null,
                                QuantityInParent: 1,
                                PurchasedAmount: 0,
                                SaleAmount: 0
                            });
                        </script>
                    }
                }

                if (Model != null)
                {
                    <script>
                        unitprice = @Model.UnitPrice; percentage = @Model.PercentageForSale;
                    </script>

                    ICollection<PackingUnit> virtualUnits = Model.PackingUnits;
                    if (virtualUnits != null && virtualUnits.Count() > 0)
                    {
                        foreach (var unit in virtualUnits)
                        {
                            <script>
                                virtualpackingunits.push({
                                    ID: "@unit.UnitID",
                                    Description: "@unit.Unit.Description",
                                    UnitOrder: @unit.UnitOrder,
                                    ActualOrder: null,
                                    QuantityInParent: @unit.QuantityInParent,
                                    PurchasedAmount: @unit.PurchasedAmount,
                                    SaleAmount: @unit.SaleAmount
                                });
                            </script>
                        }
                    }
                }
            }

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-5">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Classification" class="control-label"></label>
                <input asp-for="Classification" class="form-control" />
                <span asp-validation-for="Classification" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="LiquorTypeID" class="control-label"></label>
                <select asp-for="LiquorTypeID" class="form-control" asp-items="ViewBag.LiquorTypeID"></select>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="ChemicalName" class="control-label"></label>
                <input asp-for="ChemicalName" class="form-control" />
                <span asp-validation-for="ChemicalName" class="text-danger"></span>
            </div>

            <div class="form-group col-md-5">
                <label asp-for="Composition" class="control-label"></label>
                <textarea asp-for="Composition" class="form-control"></textarea>
                <span asp-validation-for="Composition" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Remark" class="control-label"></label>
                <textarea asp-for="Remark" class="form-control"></textarea>
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Barcode" class="control-label"></label>
                <input asp-for="Barcode" class="form-control" id="barcode_input" />
                <span asp-validation-for="Barcode" class="text-danger"></span>
            </div>
            <div id="root" class="form-group col-md-8"></div>
            <span asp-validation-for="PackingUnits" class="text-danger col-12 mb-5"></span>
            <div class="form-group col-md-12">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/react/react.min.js"></script>
<script src="~/js/react/react-dom.min.js"></script>
<script src="~/js/react/babel.min.js"></script>
<script src="~/js/react/packing-unit.js" type="text/babel">
</script>
<script>
    $(barcode_input).keydown(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
        }
    })
</script>