﻿@{
    ViewData["Title"] = "Home Page";
    var dailyRevenue = ViewBag.DailyTotal - ViewBag.DailyExpense;
    var monthlyRevenue = ViewBag.MonthlyTotal - ViewBag.MonthlyExpense;
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<div class="row">

</div>

<div class="row">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="card card-stats" cursor="pointer" onclick="daily('sale')" style="height:150px;">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="nc-icon nc-money-coins"></i>
                            </div>
                            <p class="card-category">Daily Sale</p>
                            <h3 class="card-title">@ViewBag.DailyTotal ks</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-danger">send</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="card card-stats" cursor="pointer" onclick="daily('expense')" style="height:150px;">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="nc-icon nc-credit-card"></i>
                            </div>
                            <p class="card-category">Daily Expense</p>
                            <h3 class="card-title">@ViewBag.DailyExpense ks</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-danger">send</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="card card-stats" cursor="pointer" onclick="daily('revenue')" style="height:150px;">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="nc-icon nc-paper-2"></i>
                            </div>
                            <p class="card-category">Daily Revenue</p>
                            <h3 class="card-title">@dailyRevenue ks</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-danger">send</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    
</div>

<div class="row">

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="card card-stats" cursor="pointer" onclick="monthly('sale')" style="height:150px;">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="nc-icon nc-money-coins"></i>
                        </div>
                        <p class="card-category">Monthly Sale</p>
                        <h3 class="card-title">@ViewBag.MonthlyTotal ks</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">send</i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="card card-stats" onclick="monthly('expense')" style="height:150px;">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="nc-icon nc-credit-card"></i>
                        </div>
                        <p class="card-category">Monthly Expense</p>
                        <h3 class="card-title">@ViewBag.MonthlyExpense ks</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">send</i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="card card-stats" onclick="monthly('revenue')" style="height:150px;">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="nc-icon nc-paper-2"></i>
                        </div>
                        <p class="card-category">Monthly Revenue</p>
                        <h3 class="card-title">@monthlyRevenue ks</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">send</i>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
<script>
    function daily(type) {
        var now = new Date();
        var datefordeliver = new Date();
        datefordeliver.setDate(now.getDate());
        var month = (datefordeliver.getMonth() + 1);
        var day = datefordeliver.getDate();
        if (month < 10)
            month = "0" + month;
        if (day < 10)
            day = "0" + day;
        var today = datefordeliver.getFullYear() + '-' + month + '-' + day;
        window.location.href = "/dashboard/daily"+type+"?date=" + today;
    }

    function monthly(type) {
        var now = new Date();
        var datefordeliver = new Date();
        datefordeliver.setDate(now.getDate());
        var month = (datefordeliver.getMonth() + 1);
        var day = datefordeliver.getDate();
        if (month < 10)
            month = "0" + month;
        if (day < 10)
            day = "0" + day;
        var today = datefordeliver.getFullYear() + '-' + month + '-' + day;
        window.location.href = "/dashboard/monthly"+type+"?date=" + today;
    }
</script>