﻿@model PagedList.Core.IPagedList<LiquorProject.Models.ExpenseType>
@using PagedList.Core.Mvc
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Index";
    var i = 0 + (Model.PageNumber - 1) * Model.PageSize;
    var context = Context.Request.Query["context"];
    var param = new Dictionary<string, string> { { "context", context.ToString() } };
    var Page = "ExpenseType";
}

<div class="row">
    <div class="col-sm-4">
        <h2>@Page</h2>
        <p>
            <a asp-action="Create" class="btn">Create New</a>
        </p>
    </div>
    @*<div class="col-sm-8">
        <div class="row search-row w-75">
            <div class="form-group col-md-8">
                <input type="text" id="SearchContext" placeholder="Code/Name" class="form-control" value="@context" />
                <span class="clear" id="Clear" onclick="$(SearchContext).val(''); location.href='/@Page/Index?context='"><i class="nc-icon nc-simple-remove pull-right"></i></span>
            </div>
            <div class="form-group col-md-2">
                <button id="Search" class="btn" onclick="location.href='/@Page/Index?context='+ $(SearchContext).val();">Search</button>
            </div>
            <div class="form-group col-md-2">
                <a class="btn" href="/Liquor/ExportLiquor"><i class="nc-icon nc-cloud-download-93"></i></a>
            </div>
        </div>
    </div>*@
</div>

<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CreatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ToList())
        {
            <tr>
                <td>
                    @{
                        i += 1;
                        var no = i + ".";
                    }@no
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.CreatedOn.ToString("MM/dd/yyyy")
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn" data-toggle="tooltip" data-placement="bottom" title="Detail"><i class="fa fa-eye"></i></a>
                    @inject SignInManager<ApplicationUser> SignInManager
                    @inject UserManager<ApplicationUser> UserManager

                    <script>permitted = true;</script>
                    @*<a asp-action="Edit" asp-route-id="@item.ID" class="btn" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit"></i></a>*@
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash-o"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-sm-12">
        <span class="text-muted">Showing @(Model.Count) of @Model.TotalItemCount Rows</span>

        <pager class="pager-container" list="@Model" options="@PagedListRenderOptions.TwitterBootstrapPager4" asp-action="Index" asp-controller="@Page" asp-all-route-data="param" style="float: right" />
    </div>
</div>

